  /* CUSTOM CSS */

/* Globals */
body {
  position: relative;
  min-height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: #669b9031;
  background-image: linear-gradient(180deg, #7ecbff2f 0%, #e0eaf5 74%);
  color: rgb(31, 66, 117);
}

button {
  box-shadow: 0 3px lightsteelblue;
  border: 2px solid rgba(31, 65, 117, 0.788);
  border-radius: 7px;
  font-size: 15px;
  font-weight: bold;
  color: rgb(31, 66, 117);
  outline: none;
}

button:hover {
  background-color: rgba(198, 228, 255, 0.322)
}

button:active {
  background-color: rgba(198, 228, 255, 0.322);
  box-shadow: 0 1px lightsteelblue;
  transform: translateY(2px);
}

textarea {
  border-radius: 6px;
  border: 1px lightsteelblue solid;
}

.main-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  animation: fadeIn 2s 1;
}


/* BOOTSTRAP MODALS */
.modal-open {
  overflow: hidden;
}

.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  display: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
  outline: 0;
}

.modal-dialog {
  position: relative;
  width: auto;
  margin: 0.5rem;
  pointer-events: none;
}

.modal.fade .modal-dialog {
  transition: -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
  -webkit-transform: translate(0, -50px);
  transform: translate(0, -50px);
}

@media (prefers-reduced-motion: reduce) {
  .modal.fade .modal-dialog {
    transition: none;
  }
}

.modal.show .modal-dialog {
  -webkit-transform: none;
  transform: none;
}

.modal.modal-static .modal-dialog {
  -webkit-transform: scale(1.02);
  transform: scale(1.02);
}

.modal-dialog-scrollable {
  display: -ms-flexbox;
  display: flex;
  max-height: calc(100% - 1rem);
}

.modal-dialog-scrollable .modal-content {
  max-height: calc(100vh - 1rem);
  overflow: hidden;
}

.modal-dialog-scrollable .modal-header,
.modal-dialog-scrollable .modal-footer {
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.modal-dialog-scrollable .modal-body {
  overflow-y: auto;
}

.modal-dialog-centered {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  min-height: calc(100% - 1rem);
}

.modal-dialog-centered::before {
  display: block;
  height: calc(100vh - 1rem);
  content: "";
}

.modal-dialog-centered.modal-dialog-scrollable {
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100%;
}

.modal-dialog-centered.modal-dialog-scrollable .modal-content {
  max-height: none;
}

.modal-dialog-centered.modal-dialog-scrollable::before {
  content: none;
}

.modal-content {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 20px 10px lightsteelblue;
  border-radius: 1rem;
  outline: 0;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  background-color: rgba(9, 74, 117, 0.555);
}

.modal-backdrop.fade {
  opacity: 0;
}

.modal-backdrop.show {
  opacity: 0.5;
}

.modal-header {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-pack: justify;
  justify-content: center;
  padding-top: 1rem;
  /* border-bottom: 1px solid #dee2e6; */
  border-top-left-radius: calc(0.3rem - 1px);
  border-top-right-radius: calc(0.3rem - 1px);
}

.modal-header .close {
  padding: 1rem 1rem;
  margin: -1rem -1rem -1rem auto;
}

.modal-title {
  margin-bottom: 0;
  line-height: 1.5;
  opacity: 0.8;
  text-shadow: 2px 2px 5px lightsteelblue;
}

.modal-body {
  position: relative;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 0.5rem;
  text-align: center;
}

.modal-body p {
  font-size: 0.9rem;
}

.modal-footer {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: end;
  justify-content: center;
  padding: 0.75rem;
  /* border-top: 1px solid #dee2e6; */
  border-bottom-right-radius: calc(0.3rem - 1px);
  border-bottom-left-radius: calc(0.3rem - 1px);
}

.modal-footer > * {
  margin: 0.25rem;
}

.modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll;
}

@media (min-width: 576px) {
  .modal-dialog {
    max-width: 500px;
    margin: 1.75rem auto;
  }
  .modal-dialog-scrollable {
    max-height: calc(100% - 3.5rem);
  }
  .modal-dialog-scrollable .modal-content {
    max-height: calc(100vh - 3.5rem);
  }
  .modal-dialog-centered {
    min-height: calc(100% - 3.5rem);
  }
  .modal-dialog-centered::before {
    height: calc(100vh - 3.5rem);
  }
  .modal-sm {
    max-width: 300px;
  }
}

@media (min-width: 992px) {
  .modal-lg,
  .modal-xl {
    max-width: 800px;
  }
}

@media (min-width: 1200px) {
  .modal-xl {
    max-width: 1140px;
  }
}

::placeholder {
  text-align: center;
  padding: 30px;
}


/* React Transition animations */
.fade-enter {
  opacity: 0;
  z-index: 2;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 400ms ease-in;
}

.fade-exit {
  opacity: 1;
  position: absolute;
}

.fade-exit.fade-exit-active {
  opacity: 0;
  transition: opacity 0ms ease-in;
}


/* header */
.header {
  position: absolute;
  top: 4vh;
  color: rgba(255, 255, 255, 0.925);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-shadow: 1px 1px lightsteelblue;
}


/* Primary Content divs */
.content-container {
  background-color: rgba(255, 255, 255, 0.925);
  display: flex;
  flex-direction: row;
  /* box-shadow: 1px 1px 10px 8px rgba(255, 255, 255, 0.911); */
  box-shadow: 1px 1px 30px 10px lightsteelblue;
  border-radius: 60px;
  width: 80vw;
  max-width: 950px;
  height: 65vh;
}

.nav-div {
  width: 18%;
  border-right: 1px rgba(0, 0, 0, 0.144) solid;
  margin: auto;
}

.content-div {
  width: 84%;
  margin: auto;
  position: relative;
}


/* NavBar */
.nav  {
  list-style-type: none;
  text-align: center;
  padding: 0;
}

.nav li {

}

.nav li:hover {
  transform: scale(1.1);
  text-shadow: 1px 1px 10px lightsteelblue;
  transition: all .2s ease-in-out;
}

.sessions-li {
  font-size: 0.75em;
  font-style: italic;
  animation: fadeIn 0.9s 1;
}

.nav a {
  padding: 10%;
  display: block;
  text-decoration: none;
  color: rgb(31, 66, 117);
}

.\/-li.active {
  font-weight: bold;
}
.\/meditate-li.active {
  font-weight: bold;
}
.\/meditation_sessions-li.active {
  font-weight: bold;
}
.\/focus-li.active {
  font-weight: bold;
}
.\/focus_sessions-li.active {
  font-weight: bold;
}
.\/about-li.active {
  font-weight: bold;
}
.\/login-li.active {
  font-weight: bold;
}
.\/register-li.active {
  font-weight: bold;
}
.\/profile-li.active {
  font-weight: bold;
}

@keyframes fadeIn {
  0% {
    opacity: 0.0;
  }
  100% {
    opacity: 1.0;
  }
}


/* Footer */
.footer {
  display: flex;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  height: 40px;
  width: 100%;
  border-top: 1px solid #0f1b31;
  /* background-color: #152849; */
  background-color: #1A355B;
  color: rgba(255, 255, 255, 0.822);
  justify-content: center;
  align-items: center;
}

.footer p {
  
}

.footer img {
  height: 25px;
  padding-left: 10px;
  padding-top: 3px;
}

.footer img:hover {
  transform: scale(1.1);
  transition: .2s ease-in-out;
  cursor: pointer;
}


/* Home Page CSS */
.home-clock {
  font-size: 90px;
  margin: 0;
  -webkit-text-fill-color: rgba(198, 228, 255, 0.219);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(31, 66, 117);
}

.home-weather {
  font-size: 30px;
  margin: 15px;
}

.home-quote {
  font-style: italic;
}


/* Meditation Page CSS */
.meditation-timer {
  font-size: 11rem;
  margin: 0;
  -webkit-text-fill-color: rgba(198, 228, 255, 0.219);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(31, 66, 117);
}

.timer-btn-container {
  
}

.timer-btn {
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 10px;
}

.timer-btn.inactive {
  opacity: 0.3;
}

.timer-btn.reset {
  font-size: 12px;
  line-height: 1px;
}

.timer-btn.reset.fadeOut{
  opacity:0;
  width:0;
  height:0;
  transition: width 0.5s 0.5s, height 0.5s 0.5s, opacity 0.5s;

}
.timer-btn.reset.fadeIn{
  opacity:1;
  width:100px;
  height:20px;
  transition: width 0.5s, height 0.5s, opacity 0.5s 0.5s;
}



















  /* REACT CSS */

.App {
  text-align: center;
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
}
.App::-webkit-scrollbar { /* WebKit */
  width: 0;
  height: 0;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}